body, html {
    margin: 0;
    padding: 0;
} 

.notification {
    margin: 20px;
    width: 300px;
    border: 1px solid black;
}
.header {
    background-color: gray;
}
.messagebody {
    background-color: chartreuse;
}